# Docs: https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically
version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
      
  - package-ecosystem: "bundler"
    directory: "packages/smooth_app/android"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
      
  - package-ecosystem: "bundler"
    directory: "packages/smooth_app/ios"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
  - package-ecosystem: "pub"
    directory: "/packages/smooth_app/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
      include: "scope"
#end
