name: app
description: The next generation of the Open Food Facts mobile apps.
version: 0.0.0+600
publish_to: "none"

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: "<3.3.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: 0.17.0
  smooth_app:
    path: ../smooth_app

  scanner_shared:
    path: ../scanner/shared

  # According to the build variant, only one "scanner" implementation must be added when building a release
  # Call "flutter pub remove xxxx" to remove unused dependencies
  scanner_mlkit:
    path: ../scanner/mlkit

  scanner_zxing:
    path: ../scanner/zxing


  app_store_shared:
    path: ../app_store/shared

  # According to the build variant, only one "app store" implementation must be added when building a release
  # Call "flutter pub remove xxxx" to remove unused dependencies
  app_store_apple_store:
    path: ../app_store/apple_app_store

  app_store_google_play:
    path: ../app_store/google_play

  app_store_uri:
    path: ../app_store/uri_store

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_launcher_icons: 0.10.0
  flutter_test:
    sdk: flutter
  flutter_lints: 2.0.1
  openfoodfacts_flutter_lints:
    git: https://github.com/openfoodfacts/openfoodfacts_flutter_lints.git

dependency_overrides:
  path: 1.8.0
  meta: 1.7.0
  typed_data: 1.3.0

flutter:
  generate: true
  uses-material-design: true
