name: app_store_shared
description: Shared interface between "App Store" implementations
version: 1.0.0
publish_to: "none"

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 2.0.3
  openfoodfacts_flutter_lints:
    git:
      url: https://github.com/openfoodfacts/openfoodfacts_flutter_lints.git
      ref: e91bc71bccc317948dc769b8c5d55052d949ec2e

flutter: