name: smooth_app
description: A new official Open Food Facts application build with great user experience in mind.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.0.1+1

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.0
  flutter_svg: ^0.18.0
  basic_utils: ^2.6.3
  modal_bottom_sheet: ^0.2.0+1
  provider: ^4.3.2+3
  openfoodfacts: ^0.3.14+1
  flutter_qr_bar_scanner: ^1.0.1
  qr_code_scanner: ^0.0.13
  sqflite: ^1.3.2+1
  path_provider: ^1.6.11
  carousel_slider: ^2.2.1
  flutter_staggered_grid_view: ^0.3.2
  rubber: ^0.4.0
  shared_preferences: ^0.5.12+4
  image_picker: ^0.6.7+4
  image_cropper: ^1.2.3
  url_launcher: ^5.7.10
  flutter_staggered_animations: ^0.1.2
  intl: ^0.16.1
  sentry: ^3.0.1
  sticky_grouped_list: ^0.3.0
  sticky_headers: ^0.1.8+1
  flutter_sticky_header: ^0.4.5
  package_info_plus: ^0.6.3

  smooth_ui_library:
    path: ../smooth_ui_library
  # openfoodfacts:
  #  path: ../../../openfoodfacts-dart

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  generate: true

  assets:
    - assets/actions/
    - assets/categories/
    - assets/data/
    - assets/labels/
    - assets/metadata/
    - assets/misc/
    - assets/navigation/
    - assets/product/
    - assets/ikonate_thin/
    - assets/ikonate_bold/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
