# .github/workflows/auto-author-assign.yml
name: 'Auto-Assign Author to Pull Requests'

on:
  pull_request_target:
    types: [opened, reopened]
    
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.1
  
