 name: Run release-please
 on:
   push:
     branches:
       - develop
 jobs:
   release-please:
     runs-on: ubuntu-latest
     steps:
       - uses: GoogleCloudPlatform/release-please-action@v3
         with:
           token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
           release-type: simple
           fork: true
