name: Upload builds to Waldo

on:
  workflow_dispatch:
    inputs: 
      repo:
        description: 'Repo name (eg: openfoodfacts/smooth-app)'
        required: true
        type: string
      branch:
        description: 'Branch name (eg: my-awesome-feature)'
        required: true
        type: string

jobs:
  build:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repo }}
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0

      - name: Setup Java JDK
        uses: actions/setup-java@v4.5.0
        with:
          distribution: 'zulu'
          java-version: 17

      # Get the flutter version from ./flutter-version.txt
      - run: echo "FLUTTER_VERSION=$(cat flutter-version.txt)" >> $GITHUB_OUTPUT
        id: flutter-version

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          #channel: stable
          cache: true
          flutter-version: ${{ steps.flutter-version.outputs.FLUTTER_VERSION }}
          cache-key: flutter-${{ hashFiles('flutter-version.txt')}}-${{ hashFiles('packages\smooth_app\pubspec.lock')}}

      - run: flutter --version

      - name: Get dependencies
        run: ci/pub_upgrade.sh
        
      # Build apk.
      - name: Build APK
        run: flutter build apk --debug -t lib/entrypoints/android/main_google_play.dart
        working-directory: ./packages/smooth_app

      - name: Upload APK to Waldo
        uses: waldoapp/gh-action-upload@v2
        with:
          build_path: packages/smooth_app/build/app/outputs/flutter-apk/app-debug.apk
          upload_token: ${{ secrets.WALDO_SESSIONS_ANDROID }}